.mainpage {
    width: 1280px;
    height: 584px;
    background-image: url("./images/Container-chair.png");
    margin: 0 auto;
}
.collection {
    font-family: Satoshi;
    padding-inline: 35px;
    padding-block: 18px;
    color: white;
    background-color: #494565;
    font-weight: 100;
    position: relative;
    top: 211px;
    left: 61px;
    cursor: pointer;
}